<html>
  <head>
    <title>Template website</title>
    <link rel="stylesheet" href="template-css.css">
  </head>

  <body>
    <main>
      <header class="class">
        <h1>Template website</h1>
      </header>
      <hr>
      <!--TODO: Add comments-->
      <div id="content">
        <p>
          this is <strong>bold</strong>
          <br>
          this is <em>italic</em>
          <br>
          this is more text with a <a href= "https://www.thedrakecenter.com/services/cats/blog/20-amazing-facts-about-cats": target="_blank">link</a> inside of it
          <ul>
            <li>item 1</li>
          </ul>
          <ol>
            <li>numbered item 1</li>
          </ol>
          <button>sign up here</button>
        </p>
      </div>
      <article class="item">
        <p class="flavor">French vanilla</p>
        <p class = "price">3.00</p>
      </article>

      <a
        href="https://www.thedrakecenter.com/services/cats/blog/20-amazing-facts-about-cats>fun facts about cats"
        >fun facts about cats</a
      >
      <figure>
        <a href="https://www.thedrakecenter.com/services/cats/blog/20-amazing-facts-about-cats>fun facts about cats"><img
          src="https://img.freepik.com/free-photo/red-white-cat-i-white-studio_155003-13189.jpg?w=740&t=st=1686992856~exp=1686993456~hmac=4cd30e89f0c6051fa2259c0b0b4915b33b1ae25ab75f7bee1484acf7238afd24"; alt ="cute orange kitten"; height: 200px;
        /></a>
        <figcaption>
          A cute cat
        </figcaption>
      </figure>
      <form action="https://freecatphotoapp.com/submit-cat-photo">
        <fieldset>
          <legend>Is your cat an indoor or outdoor cat?</legend>
          <input type="radio" id="indoor" name="indoor-outdoor" value="indoor" checked><label></label>Indoor</label>
          <input type="radio" id="outdoor" name="indoor-outdoor" value="outdoor"><label></label>Outdoor</label>
        </fieldset>
        <input type="text" name="catphotourl" placeholder="Cat photo URL" required>
        <button type="submit">Submit</button>
      </form>
    </main>
    
    <footer>
      <p>terms and conditions apply</p>
    </footer>
  </body>

</html>
