body {
  background-color: #f9fafb;
  font-family: 'Lexend Deca', sans serif;
}

a {
  color: black;
  text-align: center;
}

#navigation {
  height: 100px;
  position: fixed;
  background-color: #f9fafb;
  top: 0%;
  left: 0%;
  right: 0%;
  box-shadow: 0 0 5px 0 gray;
  margin: 0px;
}

.logo {
  height: 80px;
  width: 80px;
  margin: 10px;
  float: left;
}

.navigation-bar {
  list-style-type: none;
  margin: 0px;
  padding: 0;
}

.navigation-bar li {
  display: inline;
}

.float-right {
  float: right;
  margin-top: 40px;
}

.navigation-bar a {
  cursor: pointer;
  text-decoration: none;
  padding: 0 15px 0 15px;
  text-align: center;
}

.navigation-bar a:hover {
  color: #233dff;
}

.intro h2 {
  font-family: cookie;
  font-size: 30px;
}

.intro p {
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
}

.intro a {
  color: #233dff;
  text-decoration: none;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#my-blog {
  text-align: center;
  padding: 10px 20px 20px 20px;
  border-radius: 15px;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.blog-post {
  border-left: 10px solid #233dff;
  padding: 15px 0 25px 0;
  list-style-type: none;
  margin: 10px;
  float: left;
  text-align: center;
  box-shadow: 2px 2px 4px #b8b8b8;
}

.date {
  padding-right: 1rem;
  font-style: italic;
  font-size: 15px;
}

.article-heading {
  text-decoration: none;
}

.underline-text {
  line-height: 1;
  display: inline;
  background-image: linear-gradient(to bottom, transparent 55%, #fcc0c0ca 45%);
  background-size: 100% 200%;
  transition: background-position 200ms ease-in-out;
  font-weight: bold;
}

.underline-text:hover {
  background-position: 100% 50%;
}

.core {
  margin: 20px 0 0 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 4px #b8b8b8;
  border-radius: 15px;
  background-color: #eccbfcc8;
  color: black;
  padding: 5px 12px 5px 12px;
}

.tech {
  margin: 20px 0 0 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 4px #b8b8b8;
  border-radius: 15px;
  background-color: #8eff90a8;
  color: black;
  padding: 5px 12px 5px 12px;
}

footer {
  padding: 30px 15% 50px 15%;
  text-align: center;
  justify-content: center;
  align-content: space-around;
  border-top: 1px solid #dddada;
}

.hand-wave {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

#contact {
  width: 100%;
}

.contact-icons {
  padding: 40px 0 0 0;
}

.contact-icons a {
  padding: 0 15px 0 15px;
}

.copyright {
  font-size: 0.8rem;
  padding: 50px 0 0 0;
  color: #b8b8b8;
}

footer a:hover {
  color: grey;
}

.footer-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.positioning-image {
  height: auto;
  width: 800px;
}

.blog-title {
  text-align: justify;
  margin: 0 0 30px 100px;
}

.blog-entry {
  width: 70%;
  text-align: justify;
  line-height: 150%;
  margin: 0 150px 75px 100px;
  font-size: 17px;
}

.publish-date {
  margin: 150px 0 25px 100px;
  font-weight: lighter;
  color: rgb(88, 87, 87);
}

code {
  padding: 2px 4px;
  background-color: #f9f7fb;
  border-radius: 6px;
  border: 1px solid #ede7f3;
  color: #233dff;
}

.recap {
  margin: 10px 0 10px 0;
}

span {
  font-weight: bold;
  color: #233dff;
}

@media screen and (max-width: 600px) {
  .positioning-image {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .bio {
    padding: 100px 10% 50px 10%;
  }
}

@media screen and (min-width: 601px) {
  .bio {
    padding: 100px 20% 50px 20%;
  }
}

@media screen and (min-width: 1000px) {
  .bio {
    padding: 100px 15% 50px 15%;
  }
}

@media screen and (min-width: 601px) {
  .positioning-image {
    width: 600px;
  }
}

@media screen and (min-width: 1000px) {
  .positioning-image {
    width: 700px;
  }
}

@media screen and (max-width: 600px) {
  .blog-entry {
    margin: 0 10px 75px 10px;
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .publish-date {
    margin: 150px 10px 25px 10px;
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .blog-title {
    margin: 0 10px 30px 10px;
    width: 90%;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .blog-post {
    width: 100%;
  }
}

@media screen and (min-width: 601px) {
  .blog-post {
    width: 45%;
  }
}

@media screen and (min-width: 1000px) {
  .blog-post {
    width: 30%;
  }
}
